.button {
    padding: 5px;
    border-radius: 3px;
    border-width: 0px;
    background-color: #acc0c2;
    color: azure;
    height: auto;
    box-shadow: 2px 2px 2px #7a7a7a;
    align-content: center;
    width: 240px;
}

.button--reset {
    padding: 5px;
    border-radius: 3px;
    border-width: 0px;
    background-color: #acc0c2;
    color: azure;
    height: auto;
    box-shadow: 2px 2px 2px #7a7a7a;
    align-content: center;
    width: 240px;
}